# Distribution file for Sockets

git /extensions/Sockets                https://github.com/OpenEngineDK/extensions-Sockets.git
git-dev /extensions/Sockets                git@github.com:OpenEngineDK/extensions-Sockets.git

#Get windows lib
win32 /libraries http://openengine.dk/data/libraries/winsock2-win32.zip

